{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Visual Chatbot</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link
        href='https://fonts.googleapis.com/css?family=Roboto:400,100,‌​100italic,300,300ita‌​lic,400italic,500,50‌​0italic,700,700itali‌​c,900italic,900'
        rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.css" />
    <meta name="description" content="Visual ChatBot: Lets talk to bot!">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script type="text/javascript"
        src="//malihu.github.io/custom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/jquery.scrolltofixed/0.1/jquery-scrolltofixed-min.js"></script>
    <script src="{% static 'js/dropzone.js' %}"></script>
</head>
<style>
    nav .nav-wrapper {
        background: #3B5998 !important;
    }

    .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
        color: #3B5998;
    }
</style>

<body>
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo center">Visual Chatbot</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse" id="menu-icon"><i
                            class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li class="about"><a href="#aboutModal">About</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li class="about"><a href="#aboutModal">About</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="valign-wrapper" style="height: 100%">
        <div class="container">
            <div class="row">
                <div class="col s12 m5 offset-m1">
                    <div class="card hoverable">
                        <div class="card-content">
                            <span class="card-title">Hierarchical Recurrent Encoder (2017)</span>
                            <p>The Hierarchical Recurrent Encoder architecture as specified in our <a
                                    href="https://arxiv.org/abs/1611.08669">CVPR 2017 paper</a>. The model was trained
                                on VisDial v0.9 train+val and uses VGG-16 to extract image features, and <a
                                    href="https://github.com/karpathy/neuraltalk2">NeuralTalk2 </a> for captioning. Code
                                available <a href="https://github.com/batra-mlp-lab/visdial">here </a>. </p>
                        </div>
                        <div class="card-action">
                            <a href="/home">Let's Chat</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m5">
                    <div class="card hoverable">
                        <div class="card-content">
                            <span class="card-title">Late Fusion (2019)</span><br>
                            <p>Built on the Late Fusion architecture specified in our <a
                                    href="https://arxiv.org/abs/1611.08669">CVPR 2017 paper</a>. The model was trained
                                on VisDial v1.0 train+val. It uses ResNeXt detector features, and <a
                                    href="https://github.com/facebookresearch/pythia">Pythia </a> for captioning. Code
                                available <a
                                    href="https://github.com/batra-mlp-lab/visdial-challenge-starter-pytorch">here </a>.
                                <br>
                            </p>
                        </div>
                        <div class="card-action" style="margin-top: 21px;">
                            <a href="http://demo-visualdialog.cloudcv.org/">Let's Chat</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'chat/modal.html'%}
</body>

</html>